*deformableObjectFilename
models/cube_gold/cube_gold.obj

*modesFilename
models/cube_gold/cube_gold.URendering.float

*cubicPolynomialFilename
models/cube_gold/cube_gold.cub

*deformableObjectCompliance
3.06118E+09

*frequencyScaling
0.069744

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.003

*substepsPerTimeStep
5

*renderWireframe
1

*cameraRadius
83.163958

*cameraLattitude
4.202246

*cameraLongitude
214.278319

*focusPositionX
0.000013

*focusPositionY
0.002453

*focusPositionZ
-0.015947

*backgroundColor
220 220 220

*lightingConfigFilename
models/cube_gold/cube_gold.lighting

*renderOnGPU
0

*windowWidth
800

*windowHeight
800

