*deformableObjectFilename
models/001_copper_plate/001_copper_plate.obj

*modesFilename
models/001_copper_plate/001_copper_plate.URendering.float

*cubicPolynomialFilename
models/001_copper_plate/001_copper_plate.cub

*deformableObjectCompliance
6.98731

*frequencyScaling
0.0393718

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.003

*substepsPerTimeStep
5

*renderWireframe
1

*cameraRadius
3.394114

*cameraLattitude
39.167325

*cameraLongitude
161.566202

*focusPositionX
-0.000000

*focusPositionY
-0.000000

*focusPositionZ
0.000000

*backgroundColor
220 220 220

*lightingConfigFilename
models/001_copper_plate/001_copper_plate.lighting

*renderOnGPU
0

*windowWidth
800

*windowHeight
800

