*deformableObjectFilename
models/big_cube/big_cube.obj

*modesFilename
models/big_cube/big_cube.URendering.float

*cubicPolynomialFilename
models/big_cube/big_cube.cub

*deformableObjectCompliance
6.83777E+07

*frequencyScaling
0.0559218

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.003

*substepsPerTimeStep
5

*renderWireframe
1

*cameraRadius
12.470769

*cameraLattitude
28.266474

*cameraLongitude
26.348162

*focusPositionX
0.000000

*focusPositionY
0.000000

*focusPositionZ
0.000000

*backgroundColor
220 220 220

*lightingConfigFilename
models/big_cube/big_cube.lighting

*renderOnGPU
1

*windowWidth
800

*windowHeight
800

