*deformableObjectFilename
models/001_small_copper_plate/001_small_copper_plate.obj

*modesFilename
models/001_small_copper_plate/001_small_copper_plate.URendering.float

*cubicPolynomialFilename
models/001_small_copper_plate/001_small_copper_plate.cub

*deformableObjectCompliance
4.2411E-05

*frequencyScaling
1

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.003

*substepsPerTimeStep
5

*renderWireframe
1

*cameraRadius
0.068489

*cameraLattitude
31.145916

*cameraLongitude
167.295780

*focusPositionX
-0.001176

*focusPositionY
-0.000000

*focusPositionZ
0.006680

*backgroundColor
220 220 220

*lightingConfigFilename
models/001_small_copper_plate/001_small_copper_plate.lighting

*renderOnGPU
0

*windowWidth
800

*windowHeight
800

