*deformableObjectFilename
models/plate/plate.obj

*modesFilename
models/plate/plate.URendering.float

*cubicPolynomialFilename
models/plate/plate.cub

*deformableObjectCompliance
251.258

*frequencyScaling
0.0043994

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.003

*substepsPerTimeStep
5

*renderWireframe
1

*cameraRadius
1.819828

*cameraLattitude
15.661402

*cameraLongitude
-451.498639

*focusPositionX
-0.006435

*focusPositionY
-0.000428

*focusPositionZ
0.000212

*backgroundColor
220 220 220

*lightingConfigFilename
models/plate/plate.lighting

*renderOnGPU
0

*windowWidth
800

*windowHeight
800

