*deformableObjectFilename
models/001_copper_plate_corners/001_copper_plate_corners.obj

*modesFilename
models/001_copper_plate_corners/001_copper_plate_corners.URendering.float

*cubicPolynomialFilename
models/001_copper_plate_corners/001_copper_plate_corners.cub

*deformableObjectCompliance
11.7205

*frequencyScaling
0.168119

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.003

*substepsPerTimeStep
5

*renderWireframe
1

*cameraRadius
1.642751

*cameraLattitude
27.120558

*cameraLongitude
-3.445643

*focusPositionX
-0.000000

*focusPositionY
-0.000000

*focusPositionZ
0.000000

*backgroundColor
220 220 220

*lightingConfigFilename
models/001_copper_plate_corners/001_copper_plate_corners.lighting

*renderOnGPU
0

*windowWidth
800

*windowHeight
800

