*deformableObjectFilename
models/02x001_copper_plate/02x001_copper_plate.obj

*modesFilename
models/02x001_copper_plate/02x001_copper_plate.URendering.float

*cubicPolynomialFilename
models/02x001_copper_plate/02x001_copper_plate.cub

*deformableObjectCompliance
0.00360754

*frequencyScaling
0.00191559

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.003

*substepsPerTimeStep
5

*renderWireframe
1

*cameraRadius
0.5

*cameraLattitude
45.00000

*cameraLongitude
45.00000

*focusPositionX
0.000000

*focusPositionY
0.000000

*focusPositionZ
-0.000000

*backgroundColor
220 220 220

*lightingConfigFilename
models/02x001_copper_plate/02x001_copper_plate.lighting

*renderOnGPU
0

*windowWidth
800

*windowHeight
800

