*deformableObjectFilename
models/copper_plate_fixed/copper_plate_fixed.obj

*modesFilename
models/copper_plate_fixed/copper_plate_fixed.URendering.float

*cubicPolynomialFilename
models/copper_plate_fixed/copper_plate_fixed.cub

*deformableObjectCompliance
280.171

*frequencyScaling
0.00124603

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.003

*substepsPerTimeStep
5

*renderWireframe
1

*cameraRadius
1.519232

*cameraLattitude
1.910415

*cameraLongitude
744.837237

*focusPositionX
-0.006435

*focusPositionY
-0.000428

*focusPositionZ
0.000212

*backgroundColor
220 220 220

*lightingConfigFilename
models/copper_plate_fixed/copper_plate_fixed.lighting

*renderOnGPU
0

*windowWidth
800

*windowHeight
800

