*deformableObjectFilename
models\cube_reduced\cube.obj

*modesFilename
models\cube_reduced\cube.URendering.float

*cubicPolynomialFilename
models\cube_reduced\cube.cub

*deformableObjectCompliance
627797

*frequencyScaling
0.0118309

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.003

*substepsPerTimeStep
5

*renderWireframe
1

*cameraRadius
5

*cameraLattitude
45

*cameraLongitude
45

*focusPositionX
0.0

*focusPositionY
0.0

*focusPositionZ
0.0

*backgroundColor
220 220 220

*lightingConfigFilename
models\cube_reduced\cube.lighting

*renderOnGPU
0

*windowWidth
800

*windowHeight
800

