*deformableObjectFilename
models/008_plate/008_plate.obj

*modesFilename
models/008_plate/008_plate.URendering.float

*cubicPolynomialFilename
models/008_plate/008_plate.cub

*deformableObjectCompliance
42.67

*frequencyScaling
0.048168

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.003

*substepsPerTimeStep
5

*renderWireframe
1

*cameraRadius
1.638376

*cameraLattitude
12.811266

*cameraLongitude
323.140300

*focusPositionX
0.006704

*focusPositionY
0.000000

*focusPositionZ
0.000368

*backgroundColor
220 220 220

*lightingConfigFilename
models/008_plate/008_plate.lighting

*renderOnGPU
0

*windowWidth
800

*windowHeight
800

