*deformableObjectFilename
models/unit_gold_cube/unit_gold_cube.obj

*modesFilename
models/unit_gold_cube/unit_gold_cube.URendering.float

*cubicPolynomialFilename
models/unit_gold_cube/unit_gold_cube.cub

*deformableObjectCompliance
19111.1

*frequencyScaling
0.00335873

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.003

*substepsPerTimeStep
5

*renderWireframe
1

*cameraRadius
4.159516

*cameraLattitude
30.000000

*cameraLongitude
110.000000

*focusPositionX
0.001132

*focusPositionY
0.000689

*focusPositionZ
-0.000050

*backgroundColor
220 220 220

*lightingConfigFilename
models/unit_gold_cube/unit_gold_cube.lighting

*renderOnGPU
1

*windowWidth
800

*windowHeight
800

