*deformableObjectFilename
models/thin_copper_plate/thin_copper_plate.obj

*modesFilename
models/thin_copper_plate/thin_copper_plate.URendering.float

*cubicPolynomialFilename
models/thin_copper_plate/thin_copper_plate.cub

*deformableObjectCompliance
127.049

*frequencyScaling
0.00836095

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.003

*substepsPerTimeStep
5

*renderWireframe
1

*cameraRadius
1.950799

*cameraLattitude
9.931824

*cameraLongitude
798.695270

*focusPositionX
-0.003857

*focusPositionY
0.000150

*focusPositionZ
0.000206

*backgroundColor
220 220 220

*lightingConfigFilename
models/thin_copper_plate/thin_copper_plate.lighting

*renderOnGPU
0

*windowWidth
800

*windowHeight
800

