*deformableObjectFilename
models/small_copper_cube/small_copper_cube.obj

*modesFilename
models/small_copper_cube/small_copper_cube.URendering.float

*cubicPolynomialFilename
models/small_copper_cube/small_copper_cube.cub

*deformableObjectCompliance
12.7658

*frequencyScaling
0.000369988

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.003

*substepsPerTimeStep
5

*renderWireframe
1

*cameraRadius
0.831645

*cameraLattitude
82.887339

*cameraLongitude
-324.302009

*focusPositionX
-0.000029

*focusPositionY
0.000133

*focusPositionZ
-0.000027

*backgroundColor
220 220 220

*lightingConfigFilename
models/small_copper_cube/small_copper_cube.lighting

*renderOnGPU
0

*windowWidth
800

*windowHeight
800

