*deformableObjectFilename
models/02x001_alluminium_plate/02x001_alluminium_plate.obj

*modesFilename
models/02x001_alluminium_plate/02x001_alluminium_plate.URendering.float

*cubicPolynomialFilename
models/02x001_alluminium_plate/02x001_alluminium_plate.cub

*deformableObjectCompliance
0.00108831

*frequencyScaling
0.0013261

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.003

*substepsPerTimeStep
5

*renderWireframe
1

*cameraRadius
0.339413

*cameraLattitude
0.000000

*cameraLongitude
0.000000

*focusPositionX
0.000000

*focusPositionY
0.000000

*focusPositionZ
-0.000000

*backgroundColor
220 220 220

*lightingConfigFilename
models/02x001_alluminium_plate/02x001_alluminium_plate.lighting

*renderOnGPU
0

*windowWidth
800

*windowHeight
800

